In [1]:
import sqlite3

In [5]:
db = sqlite3.connect('Employee.sqlite')
db

In [6]:
c = db.cursor()
c

## Create Employee Table
Create an Employee SQLite Database for Investment Firm and in that Database create EmployeeDetail table with columns names employeeid(Primary Key), name, age, department, and salary. Now add the value in Employee_Detail table of given employee

In [7]:
c.execute('CREATE TABLE EmployeeDetail (employeeId int Primary Key, name varchar(100) NOT NULL, age int, department varchar(100), salary  int)')
db.commit()

In [8]:
c.execute(' INSERT INTO EmployeeDetail values(100, "Rishav", 25, "Marketing", 50000) ')
c.execute(' INSERT INTO EmployeeDetail values(101, "Abhishek", 26, "Operations", 60000) ')
c.execute(' INSERT INTO EmployeeDetail values(102, "Aman", 24, "Human Resources", 75000) ')
db.commit()

In [12]:
c.execute(' SELECT * FROM EmployeeDetail')
rows = c.fetchall()
for row in rows:
    print(row)

(100, 'Rishav', 25, 'Marketing', 50000)
(101, 'Abhishek', 26, 'Operations', 60000)
(102, 'Aman', 24, 'Human Resources', 75000)

In [36]:
db.close()

## Drop Index
From Employee SQLite Database remove the Employee with employee_id 101?(Without Using Parameter)
Note:Save the SQLIte Database in your local system.As it will be used in future question.

In [18]:
import sqlite3
db = sqlite3.connect('Employee.sqlite')
c = db.cursor()

In [31]:
c.execute('DELETE FROM EmployeeDetail WHERE employeeId = 100')

In [32]:
db.commit()

In [18]:
c.execute(' SELECT * FROM EmployeeDetail')
rows = c.fetchall()
for row in rows:
    print(row)

(100, 'Rishav', 25, 'Marketing', 50000)

In [31]:
db.close()

## Drop Index with Parameter
From Employee SQLite Database remove the Employee with employeeid 102?(Using Parameter i.e storing employeeid in variable and then executing the SQL query)
Note:Save the SQLIte Database in your local system.As it will be used in future question.

In [2]:
import sqlite3
db = sqlite3.connect('Employee.sqlite')
c = db.cursor()

In [4]:
employeeid = 102
c.execute( 'DELETE FROM EmployeeDetail WHERE employeeId = ?' , (employeeid, ))
employeeid = 100
c.execute( 'DELETE FROM EmployeeDetail WHERE employeeId = ?' , (employeeid, ))

In [6]:
db.commit()

In [5]:
c.execute(' SELECT * FROM EmployeeDetail')
rows = c.fetchall()
for row in rows:
    print(row)

(100, 'Rishav', 25, 'Marketing', 50000)
(101, 'Abhishek', 26, 'Operations', 60000)

In [8]:
db.close()

## Update SQL Table
A given data of 12 Employees working in an investment firm. So add the Employee Data in Employee SQLite Database of Employee_Detail Table which was created by you.

In [10]:
import sqlite3
db = sqlite3.connect('Employee.sqlite')
c = db.cursor()

In [19]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

values = zip(employee_id, name, age, department, salary)
sql = 'INSERT INTO EmployeeDetail(employeeId, name, age, department, salary) VALUES(?, ?, ?, ?, ?)'

c.executemany(sql, values)

db.commit()

In [20]:
c.execute(' SELECT * FROM EmployeeDetail')
rows = c.fetchall()
for row in rows:
    print(row)

(100, 'Rishav', 25, 'Marketing', 50000)
(101, 'Aadarsh', 25, 'Marketing', 50000)
(102, 'Aarti', 27, 'Operations', 60000)
(103, 'Siddharth', 25, 'Finance', 85000)
(104, 'Aman', 24, 'Human Resource', 75000)
(105, 'Amit', 30, 'Marketing', 50000)
(106, 'Shivansh', 26, 'IT', 90000)
(107, 'Vaibhav', 23, 'Finance', 85000)
(108, 'Himanshu', 26, 'IT', 90000)
(109, 'Raman', 25, 'Operations', 60000)
(110, 'Kunal', 26, 'Marketing', 50000)
(111, 'Adhira', 29, 'Human Resource', 75000)
(112, 'Tanya', 24, 'Marketing', 50000)

In [21]:
db.close()

### Finance Employee SQLite
Find the employee_id of employee whose is working in Finance Department in Investment firm from Employee SQLite Database.
Print the employee_id as integer value
Output Format:
employee_id_1
employee_id_2

In [22]:
import sqlite3
db = sqlite3.connect('Employee.sqlite')
c = db.cursor()

In [24]:
sql = '''
SELECT employeeId 
FROM EmployeeDetail
WHERE department = 'Finance'
'''

c.execute(sql)
filas = c.fetchall()
print(filas)

[(103,), (107,)]

### Find Employee

Find the number of employee working in different department in an investment firm from Employee SQLite Database.
Print the department and number of employee
Output Format:
department_1 num_employee_1
department_2 num_employee_2
department_3 num_employee_3

In [33]:
sql = '''
SELECT department, count(*)
FROM EmployeeDetail
GROUP BY department
ORDER BY 1
'''

c.execute(sql)
filas = c.fetchall()

for i in filas:
    print(i[0], i[1])

Finance 2
Human Resource 2
IT 2
Marketing 4
Operations 2

In [34]:
db.close()