In [2]:
import sqlite3

In [3]:
db = sqlite3.connect('Employee.db')
db

In [5]:
c = db.cursor()
c

In [7]:
c.execute('CREATE TABLE EmployeeDetail (employeeId int Primary Key, name varchar(100) NOT NULL, age int, department varchar(100), salary  int)')

In [9]:
db.commit()

In [11]:
c.execute(' INSERT INTO EmployeeDetail values(100, "Rishav", 25, "Marketing", 50000) ')
c.execute(' INSERT INTO EmployeeDetail values(101, "Abhishek", 26, "Operations", 60000) ')
c.execute(' INSERT INTO EmployeeDetail values(102, "Aman", 24, "Human Resources", 75000) ')

In [12]:
db.commit()

In [ ]:
c = db.cursor()
c

In [ ]:
INSERT INTO EmployeeDetail values(100, "Rishav", 25, "Marketing", 50000)
INSERT INTO EmployeeDetail values(101, "Abhishek", 26, "Operations", 60000)
INSERT INTO EmployeeDetail values(102, "Aman", 24, "Human Resources", 75000)

In [15]:
rollNumber = 104
name = "Nikhi"
age = 34
dept = "Sales"
salary = 30000

c.execute('INSERT INTO EmployeeDetail values(?, ?, ?, ?, ?)', (rollNumber, name, age, dept, salary))

In [16]:
db.commit()

In [18]:
values = [(105, "Nidhi", 20, "IT", 100000), (106, "Manisha", 21, "Accountant", 100000), (107, "Ankush", 22, "Sales", 20000)]
c.executemany('INSERT INTO EmployeeDetail values (?, ?, ?, ?, ?)', values)

In [19]:
db.commit()

In [21]:
c.execute('Update EmployeeDetail set Age = 30 where employeeId = 102')
db.commit()

In [24]:
new_age = 50
c.execute('Update EmployeeDetail set Age = ? where employeeId = 104', (new_age,))
db.commit()