In [31]:
import pandas as pd
df = pd.read_csv("DataSets\\salaries.csv", header = 0)
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [32]:
x_df = df.drop('salary_more_then_100k', axis = 'columns')
y_df_target = df['salary_more_then_100k'] 
print(x.shape, y_target.shape)

(16, 3) (16,)

In [33]:
# Using label encoder to deal with categorical data.
from sklearn.preprocessing import LabelEncoder

le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

x_df['le_company'] = le_company.fit_transform(x_df['company'])
x_df['le_job'] = le_job.fit_transform(x_df['job'])
x_df['le_degree'] = le_degree.fit_transform(x_df['degree'])

x_df.head()

  company                  job     degree  le_company  le_job  le_degree
0  google      sales executive  bachelors           2       2          0
1  google      sales executive    masters           2       2          1
2  google     business manager  bachelors           2       0          0
3  google     business manager    masters           2       0          1
4  google  computer programmer  bachelors           2       1          0

In [34]:
x_df = x_df.drop(['company', 'job', 'degree'], axis='columns')
x_df.head()

   le_company  le_job  le_degree
0           2       2          0
1           2       2          1
2           2       0          0
3           2       0          1
4           2       1          0

In [35]:
from sklearn import tree

model = tree.DecisionTreeClassifier()
model.fit(x_df, y_df_target)
print(model.get_params())

{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'random_state': None, 'splitter': 'best'}

In [36]:
model.score(x_df, y_df_target)

1.0

In [49]:
test_df = pd.DataFrame([[2,2,1]], columns=['le_company', 'le_job', 'le_degree'])
model.predict(test_df)[0]

0

In [50]:
test_df = pd.DataFrame([[2,0,1]], columns=['le_company', 'le_job', 'le_degree'])
model.predict(test_df)[0]

1