In [19]:
import numpy as np
import pandas as pd
import statistics as stats
import matplotlib.pyplot as plt

In [29]:
data = pd.read_csv('DataSets/weight-height.csv')
df = data
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [30]:
s = df['Height'].sample(n = 50)
s

5725    65.056268
6949    66.179111
5346    61.587196
8576    64.465953
1029    66.198009
6008    63.524976
9500    65.586029
5441    62.453816
5701    66.837230
7416    63.020299
7819    63.420513
2270    64.257389
574     73.056344
9263    63.696380
34      69.577202
1041    70.475126
7076    63.582200
906     67.091219
9056    63.139615
5263    63.475872
8586    68.222664
6829    64.487842
5772    59.891397
141     66.148853
3849    70.254847
8143    63.285107
4304    64.116429
9208    60.901963
1522    69.772757
161     68.748907
4435    68.299514
1548    64.638374
48      69.179858
9124    63.961994
4741    68.391483
5326    62.110351
9453    60.832171
9307    63.776405
9929    59.514678
9726    59.790022
5490    61.698941
5862    63.963227
3038    69.068088
1576    71.857487
9974    65.393947
8298    64.258068
4682    67.410214
6283    65.089492
5683    65.800028
3684    66.966268
Name: Height, dtype: float64

In [32]:
pop_mean = df['Height'].mean()
s_mean = s.mean()
print('Population mean: ', pop_mean)
print('Sample mean: ', s_mean)

Population mean:  66.36755975482124
Sample mean:  65.29024249293384

In [34]:
sample_means = []
for i in range(1, 1000):
    s = df['Height'].sample(n = 30)
    sample_means.append(s.mean())

In [35]:
plt.hist(sample_means, bins = 20)

NameError: name 'plt' is not defined