# Pandas

## Accessing Data in Pandas

In [18]:
import pandas as pd
iris =pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [19]:
df = iris.copy()
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [20]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [21]:
df.columns = ['s1', 'sw', 'p1', 'pw', 'flower_type']
df.head(3)

    s1   sw   p1   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [22]:
print(df.shape)
print(df.dtypes)

(149, 5)
s1             float64
sw             float64
p1             float64
pw             float64
flower_type     object
dtype: object

In [23]:
df.describe()

               s1          sw          p1          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [24]:
df.s1.head(3)

0    4.9
1    4.7
2    4.6
Name: s1, dtype: float64

In [25]:
df["s1"].head(3)

0    4.9
1    4.7
2    4.6
Name: s1, dtype: float64

In [26]:
df.isnull()

        s1     sw     p1     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [27]:
df.isnull().sum()

s1             0
sw             0
p1             0
pw             0
flower_type    0
dtype: int64

In [28]:
df.iloc[1:4, 2:4]

    p1   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2

## Manipulation Data

In [29]:
df.drop(0)
df.head(3)
df.drop(0, inplace = True)
df.head(3)

    s1   sw   p1   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa

In [30]:
df.drop(0)

KeyError: '[0] not found in axis'

In [ ]:
df.columns

Index(['s1', 'sw', 'p1', 'pw', 'flower_type'], dtype='object')

In [ ]:
df.index

RangeIndex(start=1, stop=149, step=1)

In [ ]:
df.drop(df.index[0], inplace = True)
df.head()

    s1   sw   p1   pw  flower_type
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa

In [ ]:
df.s1 > 5

2      False
3      False
4       True
5      False
6      False
       ...
144     True
145     True
146     True
147     True
148     True
Name: s1, Length: 147, dtype: bool

In [ ]:
df[df.s1>5]

      s1   sw   p1   pw     flower_type
4    5.4  3.9  1.7  0.4     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[117 rows x 5 columns]

In [ ]:
df[df.flower_type == 'Iris-setosa'].head(3)

    s1   sw   p1   pw  flower_type
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
print(df.head())
print(df.iloc[0])
print(df.iloc[8])

    s1   sw   p1   pw  flower_type
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
s1                     4.6
sw                     3.1
p1                     1.5
pw                     0.2
flower_type    Iris-setosa
Name: 2, dtype: object
s1                     4.8
sw                     3.4
p1                     1.6
pw                     0.2
flower_type    Iris-setosa
Name: 10, dtype: object

In [ ]:
# Add a Row
df.loc[0]=[1,2,3,4,"Iris-setosa"]
df.tail(3)
df.loc[149]=[1,2,3,4,"Iris-setosa"]
df.tail(3)

      s1   sw   p1   pw     flower_type
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris-setosa
149  1.0  2.0  3.0  4.0     Iris-setosa

### Reset Index

In [ ]:
df.reset_index().tail(3)

     index   s1   sw   p1   pw     flower_type
145    146  6.5  3.0  5.2  2.0  Iris-virginica
146    147  6.2  3.4  5.4  2.3  Iris-virginica
147    148  5.9  3.0  5.1  1.8  Iris-virginica

In [31]:
df.reset_index(drop=True, inplace=True)
df.tail(3)

      s1   sw   p1   pw     flower_type
145  6.5  3.0  5.2  2.0  Iris-virginica
146  6.2  3.4  5.4  2.3  Iris-virginica
147  5.9  3.0  5.1  1.8  Iris-virginica

### Delete

In [32]:
# axis = 1 means look at column wise
df.drop('s1', axis = 1).head(3)

    sw   p1   pw  flower_type
0  3.2  1.3  0.2  Iris-setosa
1  3.1  1.5  0.2  Iris-setosa
2  3.6  1.4  0.2  Iris-setosa

In [33]:
df.drop('s1', axis = 1, inplace=True)
df.head(3)

    sw   p1   pw  flower_type
0  3.2  1.3  0.2  Iris-setosa
1  3.1  1.5  0.2  Iris-setosa
2  3.6  1.4  0.2  Iris-setosa

In [35]:
df.describe()

               sw          p1          pw
count  148.000000  148.000000  148.000000
mean     3.051351    3.790541    1.212162
std      0.434950    1.754657    0.759332
min      2.000000    1.000000    0.100000
25%      2.800000    1.600000    0.300000
50%      3.000000    4.400000    1.300000
75%      3.300000    5.100000    1.800000
max      4.400000    6.900000    2.500000

In [36]:
del df['sw']
df.tail(3)

      p1   pw     flower_type
145  5.2  2.0  Iris-virginica
146  5.4  2.3  Iris-virginica
147  5.1  1.8  Iris-virginica

In [38]:
df = iris.copy()
df.columns = ['s1', 'sw', 'p1', 'pw', 'flower_type']
df.describe()

               s1          sw          p1          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

### Add a New Column as a combination of others

In [40]:
df["diff_pl_pw"] = df["p1"] - df["pw"]
df.tail(3)

      s1   sw   p1   pw     flower_type  diff_pl_pw
146  6.5  3.0  5.2  2.0  Iris-virginica         3.2
147  6.2  3.4  5.4  2.3  Iris-virginica         3.1
148  5.9  3.0  5.1  1.8  Iris-virginica         3.3

# NANs

Drop or Fill it.

## Creating some NA entries.

In [41]:
import numpy as np
df.iloc[2:4, 1:3] = np.nan
df.head()

    s1   sw   p1   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  4.6  NaN  NaN  0.2  Iris-setosa         1.3
3  5.0  NaN  NaN  0.2  Iris-setosa         1.2
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3

In [43]:
df.describe()

               s1          sw          p1          pw  diff_pl_pw
count  149.000000  147.000000  147.000000  149.000000  149.000000
mean     5.848322    3.046939    3.806122    1.205369    2.569128
std      0.828594    0.434048    1.750351    0.761292    1.047707
min      4.300000    2.000000    1.000000    0.100000    0.800000
25%      5.100000    2.800000    1.600000    0.300000    1.400000
50%      5.800000    3.000000    4.400000    1.300000    2.900000
75%      6.400000    3.300000    5.100000    1.800000    3.300000
max      7.900000    4.400000    6.900000    2.500000    4.700000

In [45]:
df.dropna(inplace = True)
df.head()

    s1   sw   p1   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3
5  4.6  3.4  1.4  0.3  Iris-setosa         1.1
6  5.0  3.4  1.5  0.2  Iris-setosa         1.3

In [46]:
df.iloc[2:4, 1:3] = np.nan
df.head()

    s1   sw   p1   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
4  5.4  NaN  NaN  0.4  Iris-setosa         1.3
5  4.6  NaN  NaN  0.3  Iris-setosa         1.1
6  5.0  3.4  1.5  0.2  Iris-setosa         1.3

In [50]:
df.sw.fillna(df.sw.mean(), inplace = True)
df.p1.fillna(df.p1.mean(), inplace = True)
df.head()

    s1        sw        p1   pw  flower_type  diff_pl_pw
0  4.9  3.000000  1.400000  0.2  Iris-setosa         1.2
1  4.7  3.200000  1.300000  0.2  Iris-setosa         1.1
4  5.4  3.038621  3.837241  0.4  Iris-setosa         1.3
5  4.6  3.038621  3.837241  0.3  Iris-setosa         1.1
6  5.0  3.400000  1.500000  0.2  Iris-setosa         1.3

### Handling Strings inData

In [56]:
 df["Gender"] = "Female"
 df.head()
 df.iloc[0:5,6]

0    Female
1    Female
4    Female
5    Female
6    Female
Name: Gender, dtype: object

In [58]:
df.Gender.head(5)

0    Female
1    Female
4    Female
5    Female
6    Female
Name: Gender, dtype: object

In [ ]:
def f(s):
    if s == "Male":
        return 0
    else:
        return 1
 
df["sex"] = df.Gender.apply(f)
del df["Gender"]
df.head()

## Exercises

In [69]:
import pandas as pd
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names=['s1', 'sw', 'p1', 'pw', 'flower_type'])
df = iris.copy()

In [72]:
df.head(3)

    s1   sw   p1   pw  flower_type
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa

Count of Flower

Problem Statement
Find and print count of each kind of flower (separated by space)?
Note: Get the dataset from here
Print the count as Integer Value.
Output Format
count1 count2 count3 .....

In [80]:
count = df.flower_type.value_counts()
for i in count:
    print(i, end=' ')

50
50
50

Iris Virginica

Problem Statement
Find the data of flower “Iris-virginica” type where petal-length > 1.5?
Note: Get the dataset from here
Print the all the feature values.
Output Format
feature1 feature2 feature3 feature4 feature5
feature1 feature2 feature3 feature4 feature5
feature1 feature2 feature3 feature4 feature5
feature1 feature2 feature3 feature4 feature5
. . .

In [125]:
import pandas as pd
nms = ['sepal.length','sepal.width','petal.length','petal.width','variety']
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names=nms)
df = iris.copy()

In [127]:
df.head(5)

   sepal.length  sepal.width  petal.length  petal.width      variety
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [134]:
mask = (df['variety'] == 'Iris-virginica') & (df['petal.length'] > 1.5)
r = df[mask]
print(r.to_string(index=False, header=False))

AttributeError: 'numpy.ndarray' object has no attribute 'to_string'

In [133]:
import pandas as pd
nms = ['sepal.length','sepal.width','petal.length','petal.width','variety']
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names=nms)
iris=iris[iris['variety']=='Iris-virginica']
iris=iris[iris['petal.length']>1.5]
X=iris.values
for i in range(iris.shape[0]):
    for j in range(iris.shape[1]):
        print(X[i][j], end=' ')
    print()

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

In [135]:
type(X)

numpy.ndarray

Iris Values

Problem Statement
Find and print the minimum, maximum and average value of the feature for each kind of flower ?
Note: Get the dataset from here
Print the value with two decimal places.
Note: Order for flower is Iris-setosa, Iris-versicolor and Iris-virginica.
Output Format
minSL minSW minPL minPW Iris-setosa
maxSL maxSW maxPL maxPW Iris-setosa
avgSL avgSW avgPL avgPW Iris-setosa
. . .
. . .
. . .

In [238]:
import pandas as pd
nms = ['sepal_length','sepal_width','petal_length','petal_width','variety']
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names=nms)
df = iris.copy()

In [269]:
mask = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
arr = []
for i in mask:
    r = df[df.variety == i].min()[0:4].astype(float).round(2)
    d = r.to_dict()
    d['variety'] = i
    arr.append(d)
    r = df[df.variety == i].max()[0:4].astype(float).round(2)
    d = r[0:4].to_dict()
    d['variety'] = i
    arr.append(d)
    r = df[df.variety == i].mean(numeric_only=True)[0:4].astype(float).round(2)
    d = r[0:4].to_dict()
    d['variety'] = i
    arr.append(d)
print(arr)

[{'sepal_length': 4.3, 'sepal_width': 2.3, 'petal_length': 1.0, 'petal_width': 0.1, 'variety': 'Iris-setosa'}, {'sepal_length': 5.8, 'sepal_width': 4.4, 'petal_length': 1.9, 'petal_width': 0.6, 'variety': 'Iris-setosa'}, {'sepal_length': 5.01, 'sepal_width': 3.42, 'petal_length': 1.46, 'petal_width': 0.24, 'variety': 'Iris-setosa'}, {'sepal_length': 4.9, 'sepal_width': 2.0, 'petal_length': 3.0, 'petal_width': 1.0, 'variety': 'Iris-versicolor'}, {'sepal_length': 7.0, 'sepal_width': 3.4, 'petal_length': 5.1, 'petal_width': 1.8, 'variety': 'Iris-versicolor'}, {'sepal_length': 5.94, 'sepal_width': 2.77, 'petal_length': 4.26, 'petal_width': 1.33, 'variety': 'Iris-versicolor'}, {'sepal_length': 4.9, 'sepal_width': 2.2, 'petal_length': 4.5, 'petal_width': 1.4, 'variety': 'Iris-virginica'}, {'sepal_length': 7.9, 'sepal_width': 3.8, 'petal_length': 6.9, 'petal_width': 2.5, 'variety': 'Iris-virginica'}, {'sepal_length': 6.59, 'sepal_width': 2.97, 'petal_length': 5.55, 'petal_width': 2.03, 'variety': 'Iris-virginica'}]

In [270]:
df[df.variety == i].min()[0:4]

sepal_length    4.9
sepal_width     2.2
petal_length    4.5
petal_width     1.4
dtype: object

In [276]:
for i in arr:
    for key, value in i.items():
        if key == 'variety':
            print(value)
        else: 
            print(f"{value:.2f}", end = ' ')

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.01 3.42 1.46 0.24 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

Terror Attack City

Given file "terrorismData.csv"
It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period
Problem Statement :
The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?
Print count of number of attacks in that city as integer value.
Note:Ignoring the Unknown Terrorist Group.Here Dangerous related with the number of terrorist attacks.
Output Format :
City NumberOfAttack Group

In [69]:
import pandas as pd
data = pd.read_csv("Datasets//terrorismData.csv")
df = data.copy()
mask = ['State','City','Group']
df = df.loc[:,mask]
df = df[(df.State == 'Jammu and Kashmir') & (df.Group != 'Unknown')]
df = df.groupby(['State','City','Group']).size().reset_index(name='Count')
df = df.sort_values(by = 'Count', ascending=False)
r = df.head(1)
a = ' '.join(r.iloc[0,[1,2,3]].to_numpy().astype(str))
a

'Srinagar Muslim Separatists 55'

In [ ]:
counts = df.groupby(['State', 'City', 'Group']).size().reset_index(name='Count')
df['Count'] = df.set_index(['State', 'City', 'Group']).index.map(counts.set_index(['State', 'City', 'Group'])['Count'])

In [105]:
import pandas as pd
data = pd.read_csv("Datasets//terrorismData.csv", encoding='ISO-8859-1')
df = data.copy()
mask = ['State','City','Group']
df = df.loc[:,mask]
df = df[(df.State == 'Jammu and Kashmir')]
r_attacks = df[df.City == df.City.mode()[0]].shape[0]
df = df[(df.Group != 'Unknown')]
df = df.groupby(['State','City','Group']).size().reset_index(name='Count')
df = df.sort_values(by = 'Count', ascending=False)
r = df.head(1)
r_city = r.iloc[0,1]
r_group = r.iloc[0,2]
print(r_city, ' ',  r_attacks, ' ',r_group)

Srinagar   657   Muslim Separatists

In [102]:
import pandas as pd
path="Datasets//terrorismData.csv"
df_terrorism=pd.read_csv(path, encoding='ISO-8859-1')
df_terrorism = df_terrorism[df_terrorism['State']=='Jammu and Kashmir']
city_list = df_terrorism['City'].value_counts()
city=city_list.index[0]
attack=city_list.values[0]
df_terrorism=df_terrorism[df_terrorism['City']==city]
group=df_terrorism['Group'].value_counts().index[1]
print(city,attack, group)

Srinagar 657 Muslim Separatists

Problem Statement :
There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-
1. Total number of attacks done in this period in India. Find this count as integer.
2. Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of attacks. 
3.Ignore the Unknown group. 
Output Format :
TotalAttacks MostActiveTerroristGroup

In [34]:
import pandas as pd
data = pd.read_csv("Datasets//terrorismData.csv",encoding='ISO-8859-1')
df = data.copy()
df['Date'] = pd.to_datetime(df[['Year', 'Month', 'Day']],errors='coerce')
df = df[(df.Date >= '2014-05-26') & (df.Country == 'India')]
total_attacks = df.shape[0]
df = df[(df.Group != 'Unknown')]
most_active_group = df.Group.mode()[0]
print(total_attacks,most_active_group)

3336 Maoists

## Problem Statement:
Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir. Here Frequency is (Total Casualty/Total Number of a year)
Print frequency as integer value.

Note: Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. Here Casualty=Killed +Wounded. Don't fill the nan value present in Killed and Wounded feature.

Output Format:
Frequency1 Frequency2

In [174]:
import pandas as pd
data = pd.read_csv("Datasets//terrorismData.csv",encoding='ISO-8859-1')
df = data.copy()
total_years = df.Year.max()-df.Year.min()
df['Casualty'] = df[['Killed','Wounded']].sum(axis=1, skipna=False)
states_red_corridor = ['Jharkhand', 'Odisha', 'Andhra Pradesh', 'Chhattisgarh']
states_jammu = ['Jammu and Kashmir']
df_1 = df[df.State.isin(states_red_corridor)]
df_2 = df[df.State.isin(states_jammu)]

total_casualties_f1 = df_1.loc[:, 'Casualty'].sum()
frequency1 = (total_casualties_f1/total_years).astype(int)

total_casualties_f2 = df_2.loc[:, 'Casualty'].sum()
frequency2 = (total_casualties_f2/total_years).astype(int)

print(frequency1, frequency2)

115 261

In [173]:
import pandas as pd
data = pd.read_csv("Datasets//terrorismData.csv",encoding='ISO-8859-1')
df = data.copy()
total_years = df.Year.max()-df.Year.min()
df['Casualty'] = df[['Killed','Wounded']].sum(axis=1, skipna=False)
states_red_corridor = ['Jharkhand', 'Odisha', 'Andhra Pradesh', 'Chhattisgarh']
states_jammu = ['Jammu and Kashmir']

total_casualties_f1 = df.loc[(df.State.isin(states_red_corridor)),'Casualty'].sum()
frequency1 = (total_casualties_f1//total_years).astype(int)

total_casualties_f2 = df.loc[(df.State.isin(states_jammu)),'Casualty'].sum()
frequency2 = (total_casualties_f2//total_years).astype(int)

print(total_casualties_f1, total_casualties_f2)
print(frequency1, frequency2)

5448.0 12268.0
115 261

In [142]:
import pandas as pd
import numpy as np
pd.get_option("display.max_columns")
data = pd.read_csv("Datasets//terrorismData.csv",encoding='ISO-8859-1')
df_terrorism = data.copy()
year = len(set(df_terrorism['Year']))
df_terrorism=df_terrorism[df_terrorism['Country'] == 'India']
df_terrorism['Casualty']=df_terrorism['Killed']+df_terrorism['Wounded']
Jammu_state = df_terrorism[df_terrorism['State']=='Jammu and Kashmir']
red_state = df_terrorism[(df_terrorism['State']=='Jharkhand')|(df_terrorism['State']=='Odisha')
                         |(df_terrorism['State']=='Andhra Pradesh') 
                         | (df_terrorism['State']=='Chhattisgarh')]
red_casualty = int(np.sum(red_state['Casualty']))
Jammu_casualty = int(np.sum(Jammu_state['Casualty']))
print(red_casualty//year , Jammu_casualty//year)

115 261

### Terror DeadliestAttack

Problem Statement :
Most Deadliest attack in a history of HumanKind?
Print count of Killed people as integer value.
Note: Here Deadliest attack means, in which the most number of people killed.
Output Format :
NumberOfPeopleKilled Country TerroristGroup

In [187]:
import pandas as pd
data = pd.read_csv("Datasets//terrorismData.csv",encoding='ISO-8859-1')
df = data.copy()
df = df[['Country', 'Group', 'Killed']]
df.Killed.idxmax()
result = df.loc[df.Killed.idxmax()]
country = result[0]
group = result[1]
kills = result[2].astype(int)
print(kills, country, group)

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

In [185]:
result[1]

'Islamic State of Iraq and the Levant (ISIL)'

### Terror Attack
Problem Statement :
Find out the Country with Highest Number of Terror Attack and in which year the most number of terrorist attack happened in that country ?
Print count of terror attacks as integer value.
Output Format :
Country NumberOfAttack Year

In [220]:
import pandas as pd
data = pd.read_csv("Datasets//terrorismData.csv",encoding='ISO-8859-1')
df = data.copy()
df = df[['Year', 'Country']]
country = df.Country.mode()[0]
df = df[df.Country == country]
grouped = df.groupby(['Year','Country'])['Year'].count().reset_index(name='Count')
attacks = grouped.loc[grouped.Count.idxmax()][2]
total_attacks = df.shape[0]
year = grouped.loc[grouped.Count.idxmax()][0]

print(country, total_attacks, year)

Iraq 3933 2014

In [221]:
import pandas as pd
data = pd.read_csv("Datasets//terrorismData.csv",encoding='ISO-8859-1')
df = data.copy()
df = df[['Year', 'Country']]
country = df.Country.mode()[0]
df = df[df.Country == country]
df.describe()

               Year
count  24636.000000
mean    2012.477107
std        3.894405
min     1975.000000
25%     2010.000000
50%     2014.000000
75%     2015.000000
max     2017.000000

In [229]:
df.shape[0]

24636

In [228]:
grouped

    Year Country  Count
0   1975    Iraq      1
1   1976    Iraq      3
2   1979    Iraq      2
3   1980    Iraq      6
4   1981    Iraq      3
5   1982    Iraq      5
6   1983    Iraq      3
7   1984    Iraq      2
8   1987    Iraq      3
9   1988    Iraq      4
10  1989    Iraq      4
11  1991    Iraq      3
12  1992    Iraq     35
13  1994    Iraq     18
14  1995    Iraq     17
15  1996    Iraq     12
16  1997    Iraq     21
17  1998    Iraq      7
18  1999    Iraq     12
19  2000    Iraq     10
20  2001    Iraq      3
21  2002    Iraq      6
22  2003    Iraq    102
23  2004    Iraq    323
24  2005    Iraq    617
25  2006    Iraq    838
26  2007    Iraq   1047
27  2008    Iraq   1106
28  2009    Iraq   1137
29  2010    Iraq   1179
30  2011    Iraq   1308
31  2012    Iraq   1437
32  2013    Iraq   2852
33  2014    Iraq   3933
34  2015    Iraq   2751
35  2016    Iraq   3360
36  2017    Iraq   2466